<mat-drawer-container class="container">
  <mat-drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" class="sidenav" #sidenav>
    <div mat-list-item class="caja-avatar">
      <div class="rounded-img">
        <img class="avatar-sidenav" src="https://i.pinimg.com/280x280_RS/c3/32/af/c332afdd5104a1221e90832df2e8f15b.jpg" alt="avatar">
      </div>
      <div class="caja-nombre">
        <p>Franklin Ospino</p>
      </div>
    </div>
    <mat-nav-list class="list-items">
      <a mat-list-item routerLink="contacto" routerLinkActive="Activo">
        <mat-icon>dns</mat-icon>
        <span class="text-item">Contactos</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button (click)="close()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>ContactosAPP</span>
      <span class="toolbar-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>